.payButton {
  all: initial;
  cursor: pointer;
  border-radius: 5vw;
  background-color: var(--bright-purple-bg);
  color: var(--white-sec-bg);
  font-family: var(--text-font);
  width: 70vw;
  margin-top: 2.5vw;
  padding: 2vw;
  text-align: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .payButton {
    width: 40vw;
  }
}
@media screen and (min-width: 1024px) {
  .payButton {
    width: 20vw;
    padding: 1.2vw;
  }
}
@media screen and (min-width: 1200px) {
  .payButton {
    width: 15vw;
    margin-top: 0.5vw;
  }
}
@media screen and (min-width: 1400px) {
}
