.roundBackBtn {
  background-color: var(--bright-purple-bg);
  align-self: flex-end;
}
.backIcon {
  left: -2vw;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .roundBackBtn {
    position: relative;
    /* left: 39vw; */
    left: -4vw;
  }
}
@media screen and (min-width: 1200px) {
  .roundBackBtn {
    left: 35vw;
  }
}
