#checkOrder {
  border-radius: 25px;

  margin: 0 auto;
  align-self: center;
  display: grid;
  max-width: 1350px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  padding: 0rem 0.5rem 2rem 0.5rem;
}

#checkOrder-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(175px, 200px));
}
#checkOutbackButton {
  align-self: flex-end;
}

#editOrder {
  background-color: white;
  border-radius: 25px;
  padding: 3rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: clamp(3rem, 7vw, 5rem);
}

#editWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

#editWrapper .buttonWrapper {
  justify-content: space-between;
  width: 100%;
}

#editWrapper h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: var(--bright-purple-bg);
  font-weight: bold;
}

#editWrapper h4 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: var(--bright-purple-bg);
  font-weight: bold;
}

#editWrapper #editAmount {
  width: 50%;
}

#editWrapper .buttonWrapper {
  justify-content: space-between;
  width: 100%;
}

#editWrapper .total {
  display: none;
}
#amountWrapperCheckOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mug {
  width: 50%;
  position: relative;
  margin-left: 1.5rem;
}
#your-order {
  background-color: white;
  border-radius: 25px;
  padding: clamp(2rem, 6vw, 5rem);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 4rem;
}

#your-order .name {
  padding: 2rem;
}
#amountWrapperCheckOrder h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--bright-purple-bg);
  font-weight: bold;
}
#amountWrapperCheckOrder h4 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--bright-purple-bg);
  font-weight: bold;
}

#your-order button {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}
#allWrapper h3 {
  color: var(--bright-purple-bg);
  font-size: 1.5rem;
  text-align: right;
  margin: 0;
  font-weight: bold;
}

#allWrapper h2 {
  color: var(--pink-highlight);
  font-size: 1.5rem;
  text-align: right;
  margin: 0;
  font-weight: bold;
}

#checkOrder summary {
  font-family: var(--headings-font);
  color: var(--bright-purple-bg);
  font-weight: bold;
  font-size: 1.5rem;
}

#goToPayment {
  margin: 1rem auto;
  width: clamp(40%, 200px, 100%);
  padding: 0.5rem;
}

.checkOrderBackButton {
  /* width: 50px;
  height: 50px; */
  /* background-color: var(--bright-purple-bg); */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 25px;
  margin-top: 1rem;
}

.checkOrderBackButtonSVG {
  width: 80%;
}
