.endingStatus {
  position: relative;
  background-color: var(--white-sec-bg);
  border-radius: 5vw;
  padding: 9vw;
  top: -98vh;
  left: 5vw;
  width: 90%;
}
.endingStatus h2 {
  font-family: var(--text-font);
  color: var(--bright-purple-bg);
  font-weight: 700;
}
.endingStatus h3 {
  font-family: var(--text-font);
  color: var(--pink-highlight);
  font-weight: 700;
}
.endingStatus > div:nth-child(2) > h3:nth-child(1) {
  text-align: center;
}
