.cls-1 {
  fill: #d2e4f5;
}

.cls-2 {
  opacity: 0.7;
}

.cls-3 {
  fill: #d1e4f6;
}

.cls-4 {
  fill: #ffc629;
}

.cls-5 {
  fill: #b4d8f2;
}

.cls-6 {
  fill: #c7902b;
}

.cls-7 {
  fill: #050706;
  opacity: 0.07;
}

.cls-7,
.cls-8 {
  isolation: isolate;
}

.cls-10,
.cls-18,
.cls-20,
.cls-21,
.cls-23,
.cls-25,
.cls-8 {
  fill: #fff;
}

.cls-8 {
  opacity: 0.55;
}

.cls-9 {
  fill: #c4c4c4;
}

.cls-10,
.cls-22 {
  opacity: 0.85;
}

.cls-11 {
  opacity: 0.53;
}

.cls-12 {
  fill: #abcaea;
}

.cls-13 {
  fill: #302f2e;
}

.cls-14 {
  fill: #ddd;
}

.cls-15 {
  fill: #666766;
}

.cls-16 {
  fill: #e0e0e0;
}

.cls-17 {
  opacity: 0.48;
}

.cls-18 {
  opacity: 0.34;
}

.cls-19 {
  fill: #020202;
}

.cls-20 {
  opacity: 0.75;
}

.cls-21 {
  opacity: 0.47;
}

.cls-22 {
  fill: #f0efef;
}

.cls-24 {
  opacity: 0.76;
}

.cls-25 {
  opacity: 0.82;
}

.cls-26 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.4px;
}
