.wrapper-vertical {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landingpage-main {
  align-self: center;
  margin: 0 auto;
  height: 100vh;
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./svg/landingpage.svg);
  background-color: darkblue;
  height: 100vh;
  position: relative;
}

.landing-page-svg {
  position: relative;
}

#landingpage-h1 {
  text-align: center;
  margin-top: 15vh;
  color: white;
  font-family: var(--headings-font);
  line-height: 5rem;
  font-size: clamp(40px, 7vw, 150px);
  border-color: blue;
  text-shadow: 5px 0 0 var(--dark-boxes-shadow);
  text-transform: uppercase;
}

.orderButton {
  margin-bottom: 20vh;
  border-radius: 25px;
  border-style: none;
  padding: 10px 80px;
  background-color: var(--big-button-colors);
  font-family: var(--headings-font);
  color: var(--bright-purple-bg);
  font-size: 1.5rem;
  font-weight: bold;
  border-width: 4px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(1.1);
  }
}
