.languageLink {
  position: relative;
  /* top: -2vw; */
  top: -4vw;
  /* left: 2vw; */
  /* top: 0vw; */
  left: 36vw;
}
.languageLink a,
span {
  font-size: 4vw;
  color: var(--white-sec-bg);
}
.languageLink a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .languageLink {
    left: 75vw;
    top: -2vw;
  }
  .languageLink a,
  span {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1024px) {
  .languageLink {
    left: 42vw;
  }
  .languageLink a,
  span {
    font-size: 1.7vw;
  }
}
@media screen and (min-width: 1200px) {
  .languageLink a,
  span {
    font-size: 1.3vw;
  }
}
@media screen and (min-width: 1400px) {
  .languageLink a,
  span {
    font-size: 1.2vw;
  }
}
