.methodsContainer {
  background-color: var(--white-sec-bg);
  /* background-color: black; */
  border-radius: 10vw;
  padding: 9vw;
  z-index: 99;
  position: absolute;
  margin: 0 auto;
  top: 15px;
  left: 16px;
  width: 90vw;
  /* height: 96vh; */
  height: 118vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-between;
}
.showMobilePay svg {
  width: 90%;
  position: relative;
  left: 5vw;
}
.showWireless svg {
  width: 77%;
  position: relative;
  left: 8vw;
  top: 55vw;
}
@media screen and (min-width: 768px) {
  .methodsContainer {
    top: 8vw;
    left: 5vw;
    height: 71vh;
  }
  .showMobilePay svg {
    left: 3vw;
  }
  .showWireless svg {
    width: 100%;
    left: 2vw;
    top: 23vw;
  }
}
@media screen and (min-width: 1024px) {
  .methodsContainer {
    width: 33vw;
    left: 62vw;
    height: 86vh;
    border-radius: 5vw;
  }
  .methodsContainer button {
    display: none;
  }
  .methodsContainer img {
    width: 195%;
    margin: auto;
  }
  .showWireless svg {
    left: 0vw;
    top: 15vw;
  }
  .showMobilePay svg {
    width: 138%;
    left: -3vw;
  }
}
@media screen and (min-width: 1200px) {
  .methodsContainer {
    width: 36vw;
    left: 59vw;
    top: 7vw;
  }
  .methodsContainer img {
    margin: 3.8vw;
    width: 152%;
  }
}
@media screen and (min-width: 1400px) {
  .methodsContainer {
    height: 82vh;
  }
}
