.iconsContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 10vw 0;
}
.iconsContainer a {
  align-self: center;
}
.iconsContainer a > img {
  height: 10vh;
}
.iconsContainer > a:nth-child(1) > img:nth-child(1) {
  height: 17vh;
}

.iconsContainer > a:nth-child(3) > img:nth-child(1) {
  margin: 12vw 0;
}
