.cardDetailsLink,
.mobilePayLink,
.wirelessLink {
  align-self: center;
  margin: 0.8vw auto;
}
.mobilePayLink svg,
.cardDetailsLink svg {
  width: 60%;
}
.mobilePayLink {
  margin-top: 12vw;
}
.wirelessLink svg {
  width: 48%;
}
.mobilePayLink > div:nth-child(1) > div:nth-child(1),
.wirelessLink > div:nth-child(1) > div:nth-child(1),
.cardDetailsLink > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .mobilePayLink svg,
  .cardDetailsLink svg {
    width: 88%;
  }
  .mobilePayLink {
    margin-top: 7vw;
  }
  .wirelessLink svg {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .mobilePayLink,
  .wirelessLink {
    flex-grow: 1;
    flex-basis: 150px;
  }
  .mobilePayLink {
    margin: unset;
  }
  .cardDetailsLink {
    flex-grow: 1;
    flex-basis: 100px;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
