.paymentScreen {
  background-color: var(--purple-ish-bg);
  padding: 1rem 5vw 11vw 5vw;
  overflow-x: hidden;
  /* max-width: 1400px;
  margin: 0 auto; */
}
.roundBckBtn {
  position: absolute;
  right: 27px;
  bottom: 20px;
}
.fooBarLogo {
  width: 10%;
  position: absolute;
  top: 21vw;
  left: 2.5vw;
}
.paymentIntro {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: var(--white-sec-bg);
  border-radius: 25px;
  padding: 5vw;
  min-width: 100px;
  margin: 1rem;
}

.paymentIntro h2 {
  text-align: left;
  font-family: lato, sans-serif;
  font-weight: 550;
  color: var(--bright-purple-bg);
}
.paymentWrapper {
  display: flex;
  flex-flow: column wrap;
}
@media screen and (min-width: 768px) {
  .roundBckBtn {
    right: 54px;
    bottom: 35px;
  }
  .fooBarLogo {
    width: 6%;
    top: 15vw;
  }
}
@media screen and (min-width: 1024px) {
  .roundBckBtn {
    right: 42px;
    bottom: -85px;
  }
  .paymentIntro {
    line-height: 32vw;
    width: 60%;
    height: 88vh;
  }
  .hideBackBtn {
    display: none;
  }
  .paymentWrapper {
    flex-flow: row wrap;
  }
  .fooBarLogo {
    width: 4.5%;
    top: 13vw;
  }
}
@media screen and (min-width: 1200px) {
  .roundBckBtn {
    left: 43vw;
    bottom: 54px;
  }
  .paymentIntro {
    line-height: unset;
  }
  .paymentIntro > div:nth-child(2) {
    margin: 3.5vw auto;
  }
  .fooBarLogo {
    width: 4%;
  }
}
@media screen and (min-width: 1400px) {
  .paymentIntro {
    height: 85vh;
  }
  .roundBckBtn {
    left: 46vw;
    bottom: 41px;
  }
}
