.paymentIntro {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white-sec-bg);
  border-radius: 10vw;
  padding: 9vw;
}
.paymentIntro h2 {
  font-family: lato, sans-serif;
  font-weight: 800;
  color: var(--bright-purple-bg);
}
