.paymentScreen {
  background-color: var(--purple-ish-bg);
  max-width: 1400px;
  margin: 0 auto;
}

.paymentScreen img:nth-child(1) {
  width: 10%;
  position: absolute;
  top: 2vw;
}

#paymentWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#icons {
  display: flex;
  position: relative;
}

.paymentIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-sec-bg);
  border-radius: 10vw;
  padding: 5vw;
  /* height: 100%; */
  width: clamp(50vw, 350px, 90%);
  margin: 1rem;
  text-align: left;
  position: relative;
}
.paymentIntro > div:nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 100px;
}
.paymentIntro h2 {
  font-family: lato, sans-serif;
  font-weight: 550;
  color: var(--bright-purple-bg);
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .paymentIntro {
    line-height: 32vw;
    flex-flow: row wrap;
    /* width: 60%; */
    /* height: 86vh; */
    border-radius: 5vw;
    /* padding: 10vw 5vw; */
  }
  .paymentIntro > div:nth-child(2) {
    flex-flow: row wrap;
    margin: 4.5vw auto;
  }
}
@media screen and (min-width: 1200px) {
  .paymentIntro {
    line-height: unset;
    /* width: 57%; */
  }
  .paymentIntro > div:nth-child(2) {
    margin: 3.5vw auto;
  }
}
@media screen and (min-width: 1400px) {
  .paymentIntro {
    /* width: 57%; */
    /* height: 82vh; */
  }
  .paymentIntro > div:nth-child(2) {
    /* margin: 1vw auto; */
  }
}

@media screen and (min-width: 768px) {
  .paymentScreen {
    /* padding: 6vw 5vw 1vw 5vw; */
  }
  .paymentScreen img:nth-child(1) {
    width: 6%;
  }
}
@media screen and (min-width: 1024px) {
  .paymentScreen img:nth-child(1) {
    width: 4.5%;
  }
}
@media screen and (min-width: 1200px) {
  .paymentScreen img:nth-child(1) {
    width: 4%;
  }
}
