.popup {
  background-color: var(--pink-highlight);
  width: clamp(20vw, 350px, 100%);
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 2.5vh;
  height: 95vh;
  margin-right: 1vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  color: white;
}

.popup h2 {
  color: white;
}
.keg-popup {
  width: 50%;
  margin: 0 auto;
}

.popup-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: transparent;
  border-style: none;
  font-family: var(--headings-font);
  color: var(--bright-purple-bg);
  font-weight: bold;
}
