#shopping-cart {
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
}

#shopping-cart {
  color: white;
}

#shopping-cart h2 {
  color: white;
}

#shopping-cart h3,
.title {
  text-align: center;
}
#shopping-cart-heading {
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  position: relative;
  right: 1rem;
  top: 1.5rem;

  /* font-size: 2.5rem;
  z-index: 10000;
  right: 0; */
}

#showTotal {
  background-color: var(--pink-highlight);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: bold;
  top: 2rem;
  left: 0.7rem;
  z-index: 200;
}
#shopping-wrapper .heading-wrapper {
  text-align: right;
  padding-right: 1.5rem;
}

#shopping-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

#shopping-cart {
  /* display: flex; */
  margin-right: 5rem;
  width: 100%;
}

#shopping-cart .fooBarLogo {
  position: absolute;
  top: 0;
  left: 0;
}
.cart-popUp {
  background-color: var(--pink-highlight);
  width: clamp(20vw, 375px, 90vw);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  z-index: 900;
  right: 4vw;
  padding: 1rem;
}

.cart-popUp button {
  width: 70%;
  margin: 0.5rem;
  align-self: center;
}

#shopping-cart .add {
  display: none;
}

#amountWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-content: center;
  margin-top: 0.5rem;
}

.cart-popUp #amountWrapper h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-top: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-basis: 35%;
  text-align: left;
}

#shopping-cart-amount {
  justify-self: flex-end;
}

#allWrapper {
  margin-right: 2rem;
  margin-top: 2rem;
}
#allWrapper h2 {
  color: white;
  font-size: 1.3rem;
  text-align: right;
  margin: 0;
}

#shopping-cart .allBeers {
  font-weight: bold;
  text-align: right;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  margin: 0;
}

#beerAmount {
  color: white;
}
.heading-wrapper {
  position: relative;
  width: 2vw;
  margin-right: 30px;
}

#shopping-cart .navigationButton {
  width: clamp(50%, 230px, 90%);
}
