* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple-ish-bg: #3d395e;
  --bright-purple-bg: #4054ad;
  --white-sec-bg: #ffffff;
  --pink-highlight: #eb627e;
  --number-color: #29f1d7;
  --dark-boxes: #2c383e;
  --dark-boxes-shadow: #1a262c;
  --headings-font: futura-pt, sans-serif;
  --text-font: lato, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
img {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
